$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower
@import "scss/main";

.playlists-namespace{
    color: white;
    background-color: black;
    padding: 10px;
}

.playlist{
    padding: 5px;
    
}

.playlist-name{
    font-size: 24px;
}

.num-songs{
    font-size: 16px;
    color: lightgray;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}
